body {
	margin: 0
}
#txt {
    font-family: 'Pico8placeholder';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
    color:  yellow;
    font-size: 20px;
    position: relative;
}
@font-face {
    font-family: 'Pico8placeholder';
    src: url('PICO-8.ttf')  format('truetype')
}
#bg {
    background: url(backgrounds/bg1.png);
    width: 100%;
    height: 100%;
    position: fixed;
    animation: bgscroll 2s linear infinite;
}
@keyframes bgscroll {
    from {
        background-position-x: 0px;
        background-position-y: 0px;
    }
    to {
        background-position-x: 32px;
        background-position-y: 32px;
    }
}
body {
	background-color: black;
}